In [182]:
import pandas as pd
import os

# Load the dataset

pwd = os.getcwd()
dataset = pd.read_csv(pwd + '/dirty_cafe_sales.csv')
dataset

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [218]:
# Copy the dataset in case of mess up
data = dataset.copy()
data

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [236]:
list(data.columns)

['Transaction ID',
 'Item',
 'Quantity',
 'Price Per Unit',
 'Total Spent',
 'Payment Method',
 'Location',
 'Transaction Date']

In [237]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9797 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9797 non-null   object
 1   Item              9797 non-null   object
 2   Quantity          9332 non-null   float64
 3   Price Per Unit    9797 non-null   float64
 4   Total Spent       9308 non-null   float64
 5   Payment Method    7278 non-null   object
 6   Location          6604 non-null   object
 7   Transaction Date  9797 non-null   object
dtypes: float64(3), object(5)
memory usage: 688.9+ KB

In [238]:
data.isna().sum()

Transaction ID         0
Item                   0
Quantity             465
Price Per Unit         0
Total Spent          489
Payment Method      2519
Location            3193
Transaction Date       0
dtype: int64

In [222]:
data.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [223]:
# Mapping the item prices to fill the missing values. 
item_price = {
    'Coffee': 2.0,
    'Tea': 1.5,
    'Sandwich': 4.0,
    'Salad': 3.0,
    'Cake': 3.0,
    'Cookie': 1.0,
    'Smoothie': 4.0,
    'Juice': 3.0
}

# Reversing the mapping so that we can use the prices as keys
price_item = {v: k for k, v in item_price.items()}

item_price, price_item

({'Coffee': 2.0,
  'Tea': 1.5,
  'Sandwich': 4.0,
  'Salad': 3.0,
  'Cake': 3.0,
  'Cookie': 1.0,
  'Smoothie': 4.0,
  'Juice': 3.0},
 {2.0: 'Coffee', 1.5: 'Tea', 4.0: 'Smoothie', 3.0: 'Juice', 1.0: 'Cookie'})

In [224]:
# Checking errors
try:
    data['Price Per Unit']=data['Price Per Unit'].astype(float)
except Exception as e:
    print(e)
    pass

could not convert string to float: 'ERROR'

In [225]:
# Using numpy to replace the 'ERROR' and 'UNKNOWN' values with NaN
import numpy as np

data['Price Per Unit'] = data['Price Per Unit'].replace(['ERROR', 'UNKNOWN'], np.nan)
data['Price Per Unit'] = data['Price Per Unit'].astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: float64(1), object(7)
memory usage: 625.1+ KB

In [226]:
# Filling the missing values in the 'Item' column with the corresponding item prices
data['Item'] = data['Item'].fillna(data['Price Per Unit'].map(price_item))
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9939 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: float64(1), object(7)
memory usage: 625.1+ KB

In [227]:
# Replacing values with NaN
data['Total Spent'] = data['Total Spent'].replace(['ERROR', 'UNKNOWN'], np.nan)
data['Total Spent'] = data['Total Spent'].astype(float)

In [228]:
# Replacing values with NaN
data['Quantity'] = data['Quantity'].replace(['ERROR', 'UNKNOWN'], np.nan)
data['Quantity'] = data['Quantity'].astype(float)

In [229]:
# Filling the missing values using Total Spent divided by Quantity
data['Price Per Unit'] = data['Price Per Unit'].fillna(data['Total Spent']/data['Quantity'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9939 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9962 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

In [230]:
# Filling the missing values in the 'Item' column with the corresponding item prices
data['Item'] = data['Item'].fillna(data['Price Per Unit'].map(price_item))
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9960 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9962 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

In [231]:
# Dropping the rows with missing values in the 'Item' column
data.dropna(subset=['Item'], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9960 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9960 non-null   object
 1   Item              9960 non-null   object
 2   Quantity          9484 non-null   float64
 3   Price Per Unit    9924 non-null   float64
 4   Total Spent       9460 non-null   float64
 5   Payment Method    7391 non-null   object
 6   Location          6712 non-null   object
 7   Transaction Date  9801 non-null   object
dtypes: float64(3), object(5)
memory usage: 700.3+ KB

In [ ]:
# Dropping the rows with missing values in the 'Transaction Date' column
data.dropna(subset=['Transaction Date'], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9801 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9801 non-null   object
 1   Item              9801 non-null   object
 2   Quantity          9334 non-null   float64
 3   Price Per Unit    9767 non-null   float64
 4   Total Spent       9310 non-null   float64
 5   Payment Method    7280 non-null   object
 6   Location          6607 non-null   object
 7   Transaction Date  9801 non-null   object
dtypes: float64(3), object(5)
memory usage: 689.1+ KB

In [233]:
# Refilling the missing values in the 'Price Per Unit' column with the corresponding item prices
data['Price Per Unit'] = data['Price Per Unit'].fillna(data['Item'].map(item_price))
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9801 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9801 non-null   object
 1   Item              9801 non-null   object
 2   Quantity          9334 non-null   float64
 3   Price Per Unit    9797 non-null   float64
 4   Total Spent       9310 non-null   float64
 5   Payment Method    7280 non-null   object
 6   Location          6607 non-null   object
 7   Transaction Date  9801 non-null   object
dtypes: float64(3), object(5)
memory usage: 689.1+ KB

In [234]:
# Checking for missing values in the 'Price Per Unit' column
empty_price = data[data['Price Per Unit'].isna()] 
empty_price

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
2289,TXN_7524977,UNKNOWN,4.0,NaN,NaN,ERROR,NaN,2023-12-09
3779,TXN_7376255,UNKNOWN,NaN,NaN,25.0,NaN,In-store,2023-05-27
4152,TXN_9646000,ERROR,2.0,NaN,NaN,NaN,In-store,2023-12-14
7597,TXN_1082717,ERROR,NaN,NaN,9.0,Digital Wallet,In-store,2023-12-13

In [235]:
# Dropping values because we cannot find the corresponding item prices
data.dropna(subset=['Price Per Unit'], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9797 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9797 non-null   object
 1   Item              9797 non-null   object
 2   Quantity          9332 non-null   float64
 3   Price Per Unit    9797 non-null   float64
 4   Total Spent       9308 non-null   float64
 5   Payment Method    7278 non-null   object
 6   Location          6604 non-null   object
 7   Transaction Date  9797 non-null   object
dtypes: float64(3), object(5)
memory usage: 688.9+ KB

In [242]:
# Checking for inconsistent values 
error_unknown = data.isin(['ERROR', 'UNKNOWN']).sum()
error_unknown

Transaction ID        0
Item                622
Quantity              0
Price Per Unit        0
Total Spent           0
Payment Method      590
Location            682
Transaction Date    299
dtype: int64

In [243]:
# Removing the rows with inconsistent values
data = data[~data['Item'].isin(['ERROR', 'UNKNOWN'])]
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9175 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9175 non-null   object
 1   Item              9175 non-null   object
 2   Quantity          8749 non-null   float64
 3   Price Per Unit    9175 non-null   float64
 4   Total Spent       8723 non-null   float64
 5   Payment Method    6819 non-null   object
 6   Location          6192 non-null   object
 7   Transaction Date  9175 non-null   object
dtypes: float64(3), object(5)
memory usage: 645.1+ KB

In [244]:
# Replacing the missing values in the 'Quantity' column with Total Spent divided by Price Per Unit
data['Quantity'] = data['Quantity'].fillna(data['Total Spent']/data['Price Per Unit'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9175 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9175 non-null   object
 1   Item              9175 non-null   object
 2   Quantity          9155 non-null   float64
 3   Price Per Unit    9175 non-null   float64
 4   Total Spent       8723 non-null   float64
 5   Payment Method    6819 non-null   object
 6   Location          6192 non-null   object
 7   Transaction Date  9175 non-null   object
dtypes: float64(3), object(5)
memory usage: 645.1+ KB

/var/folders/2c/1d4wjxbd7rq578m4dq93dsv00000gn/T/ipykernel_43760/3247628763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Quantity'] = data['Quantity'].fillna(data['Total Spent']/data['Price Per Unit'])

In [247]:
# Dropping the rows with missing values in the 'Quantity' column
data.dropna(subset=['Quantity'], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9155 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9155 non-null   object
 1   Item              9155 non-null   object
 2   Quantity          9155 non-null   float64
 3   Price Per Unit    9155 non-null   float64
 4   Total Spent       8723 non-null   float64
 5   Payment Method    6806 non-null   object
 6   Location          6177 non-null   object
 7   Transaction Date  9155 non-null   object
dtypes: float64(3), object(5)
memory usage: 643.7+ KB

/var/folders/2c/1d4wjxbd7rq578m4dq93dsv00000gn/T/ipykernel_43760/2339644633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(subset=['Quantity'], inplace=True)

In [248]:
# Filling the missing values in the 'Total Spent' column with Quantity multiplied by Price Per Unit
data['Total Spent'] = data['Total Spent'].fillna(data['Quantity']*data['Price Per Unit'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9155 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9155 non-null   object
 1   Item              9155 non-null   object
 2   Quantity          9155 non-null   float64
 3   Price Per Unit    9155 non-null   float64
 4   Total Spent       9155 non-null   float64
 5   Payment Method    6806 non-null   object
 6   Location          6177 non-null   object
 7   Transaction Date  9155 non-null   object
dtypes: float64(3), object(5)
memory usage: 643.7+ KB

/var/folders/2c/1d4wjxbd7rq578m4dq93dsv00000gn/T/ipykernel_43760/1067483050.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Total Spent'] = data['Total Spent'].fillna(data['Quantity']*data['Price Per Unit'])

In [ ]:
# Replacing inconsistent values in the 'Payment Method' with NaN
data['Payment Method'].replace(['ERROR', 'UNKNOWN'], np.nan, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9155 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9155 non-null   object
 1   Item              9155 non-null   object
 2   Quantity          9155 non-null   float64
 3   Price Per Unit    9155 non-null   float64
 4   Total Spent       9155 non-null   float64
 5   Payment Method    6253 non-null   object
 6   Location          6177 non-null   object
 7   Transaction Date  9155 non-null   object
dtypes: float64(3), object(5)
memory usage: 643.7+ KB

/var/folders/2c/1d4wjxbd7rq578m4dq93dsv00000gn/T/ipykernel_43760/2660436423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Payment Method'].replace(['ERROR', 'UNKNOWN'], np.nan, inplace=True)

In [256]:
# Replacing inconsistent values in the 'Location' with NaN
data['Location'].replace(['ERROR', 'UNKNOWN'], np.nan, inplace=True)

/var/folders/2c/1d4wjxbd7rq578m4dq93dsv00000gn/T/ipykernel_43760/2668629551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Location'].replace(['ERROR', 'UNKNOWN'], np.nan, inplace=True)

In [257]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9155 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9155 non-null   object
 1   Item              9155 non-null   object
 2   Quantity          9155 non-null   float64
 3   Price Per Unit    9155 non-null   float64
 4   Total Spent       9155 non-null   float64
 5   Payment Method    6253 non-null   object
 6   Location          5538 non-null   object
 7   Transaction Date  9155 non-null   object
dtypes: float64(3), object(5)
memory usage: 643.7+ KB

In [258]:
# Fills all NaN with 'Missing'
data.fillna('Missing', inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9155 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9155 non-null   object
 1   Item              9155 non-null   object
 2   Quantity          9155 non-null   float64
 3   Price Per Unit    9155 non-null   float64
 4   Total Spent       9155 non-null   float64
 5   Payment Method    9155 non-null   object
 6   Location          9155 non-null   object
 7   Transaction Date  9155 non-null   object
dtypes: float64(3), object(5)
memory usage: 643.7+ KB

/var/folders/2c/1d4wjxbd7rq578m4dq93dsv00000gn/T/ipykernel_43760/976341854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.fillna('Missing', inplace=True)

In [261]:
# Saving the cleaned dataset
data.to_excel(pwd + '/clean_cafe_sales.xlsx', index=False)

In [ ]:
# Replacing inconsistent values in the 'Transaction Date' with 'Missing'
data['Transaction Date'] = data['Transaction Date'].replace(['ERROR', 'UNKNOWN'], 'Missing')
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9155 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9155 non-null   object
 1   Item              9155 non-null   object
 2   Quantity          9155 non-null   float64
 3   Price Per Unit    9155 non-null   float64
 4   Total Spent       9155 non-null   float64
 5   Payment Method    9155 non-null   object
 6   Location          9155 non-null   object
 7   Transaction Date  9155 non-null   object
dtypes: float64(3), object(5)
memory usage: 643.7+ KB

/var/folders/2c/1d4wjxbd7rq578m4dq93dsv00000gn/T/ipykernel_43760/4156550525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Transaction Date'] = data['Transaction Date'].replace(['ERROR', 'UNKNOWN'], 'Missing')

In [272]:
# Saving the cleaned dataset again
data.to_excel(pwd + '/clean_cafe_sales.xlsx', index=False)